* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #1d1d1d;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 50px 25px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header img {
  border-radius: 50%;
  height: 125px;
  width: 125px;
}

header h1 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 25px;
}

header h2 {
  color: #969696;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  max-width: 350px;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

main h1 {
  font-size: 24px;
  font-weight: 500;
}

main ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 25px;
  margin-top: 10px;
  max-width: 800px;
  width: 100%;
}

main li {
  max-width: 250px;
  min-width: 150px;
  width: 100%;
}

main h2 {
  font-size: 16px;
  margin-top: 10px;
}

main h3 {
  color: #969696;
  font-size: 12px;
  letter-spacing: 1px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  height: 100px;
}

.card a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 32px;
  height: 100%;
  width: 100%;
  opacity: 0.8;
  text-decoration: none;
}

.facebook {
  background: linear-gradient(65deg, #3479ea 0%, #2e256c 100%);
  border-bottom: 5px solid rgba(45, 35, 110, 0.5);
}

.instagram {
  background: linear-gradient(65deg, #405de6 0%, #c13584 100%);
  border-bottom: 5px solid rgba(195, 55, 130, 0.5);
}

.spotify {
  background: linear-gradient(65deg, #1db954 0%, #2b4274 100%);
  border-bottom: 5px solid rgba(30, 185, 85, 0.5);
}

.linkedin {
  background: linear-gradient(65deg, #0077b5 0%, #3e2b74 100%);
  border-bottom: 5px solid rgba(60, 45, 115, 0.5);
}

.github {
  background: linear-gradient(65deg, #4389a2 0%, #5c258d 100%);
  border-bottom: 5px solid rgba(90, 35, 140, 0.5);
}

.email {
  background: linear-gradient(65deg, #b5ac49 0%, #3ca55c 100%);
  border-bottom: 5px solid rgba(60, 165, 90, 0.5);
}

.email {
  background: linear-gradient(65deg, #71b280 0%, #134e5e 100%);
  border-bottom: 5px solid rgba(20, 80, 95, 0.5);
}

@media screen and (max-width: 575px) {
  main li {
    max-width: 300px;
  }
}
